$break-sm: "screen (min-width: 0px) and (max-width: 425px)";
$break-md: "screen (min-width: 426px) and (max-width: 779px)";
$break-lg: "screen (min-width: 780px) and (max-width: 1025px)";
$break-xl: "screen (min-width: 1024px)and (max-width: 1366px)";
$break-xxl: "screen and (min-width: 1367px)";
